.container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: 3px solid blue;
    padding: 2px;
    border-radius: 25px;
    cursor: pointer;
    background-color: gray;
    color: white;
}
.chnnelContainer{
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
   
}
.chnnelContainer:hover{
    background: lightgray;
    border-radius: 25px;
}
.darkchannelContainer{
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}
.darkchannelContainer:hover{
    background: gray;
    border-radius: 25px;
}
.img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
@media screen and (min-width: 390px) and (max-width: 430px) {
    
    .container{
       
        gap: 3px;
        border: 2px solid blue;
        padding: 3px;
        
    }
}
@media screen and (min-width: 375px) and (max-width: 380px) 
{
    .icon{
        display: none !important;
    }
    .container{
       
        gap: 3px;
        border: 2px solid blue;
        padding: 3px;
        
    }
    .chnnelContainer{
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px;
        cursor: pointer;
        text-decoration: none;
        color: inherit;
         font-size: 10px;
    }
}