.container{
    display: flex;
    justify-content: center;
    width: 6%;
    
}

.item{
   
    width: 50px;
    height: 60px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.darkItem{
    width: 50px;
    height: 60px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.title{
    font-size: 12px;
}
.darkItem:hover{
    background-color: #374151;
    border-radius: 5px;
    cursor: pointer;
}
.item:hover{
    background-color: lightgray;
    border-radius: 5px;
    cursor: pointer;
}
.Link{
    text-decoration: none;
    color: inherit;
}

.responsiveLogout{
    display: none;
}
@media screen and (max-width: 768px){
    .container{
        padding-left: 10px;
    }
}
@media screen and (min-width:375px) and (max-width: 380px) {
   
   .title{
    font-size: 6px !important;
   }
   .responsiveLogout{
    display: block;
    font-size: 13px;
    
   }
   
  }
  @media screen and (max-width: 360px){
    
       .title{
        font-size: 6px !important;
       }
       .responsiveLogout{
        display: block;
        font-size: 13px;
       }
  }
  @media screen and (min-width: 390px) and (max-width: 430px) {
    .container{
     padding-left: 20px;
   
    }
    .responsiveLogout{
        display: block;
       }
  }